Repository hiliyongke/vue3-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, stylelint --fix

:pencil: docs: updating readme.md
  README.md
Due: none

:rocket: release:
  .cz-config.js
  package.json
Due: npm run lint, prettier --write

:art: style(其他模块): :rocket: release:
  mock/user.ts
  packages/create-vue3/index.js
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/Header/index.vue
Due: npm run lint, prettier --write, stylelint --fix

:hammer: refactor(其他模块): :art: style(其他模块): :rocket: release:
  packages/create-vue3/outfile.cjs
Due: none

:hammer: refactor(其他模块): :hammer: refactor(其他模块): :art: style(其他模块): :rocket: release:
  .eslintignore
  .eslintrc.js
  .npmrc
  .stylelintrc.js
  src/assets/pages-index.jpg
  src/assets/styles/base.less
Due: npm run lint, prettier --write, stylelint --fix

:hammer: refactor(其他模块):
  .npmrc
  Specification.md
  config/vite/plugins/component.ts
  docs/VsCode - 使用总结.md
  docs/配置文件说明/tsconfig.json.md
  package.json
  packages/create-vue3/index.js
  packages/create-vue3/package.json
  src/assets/styles/base.less
  src/auto-imports.d.ts
  src/components/Header/index.vue
  src/main.ts
  src/pages/data.ts
  src/pages/index.vue
  src/pages/login/components/banner.vue
  src/pages/login/components/login-form.vue
  src/pages/login/index.vue
  src/store/modules/app/index.ts
  tsconfig.json
Due: npm run lint, prettier --write, stylelint --fix

:pencil: docs:
  README.md
Due: none

[docs]: 添加注释
  src/utils/regular/index.js
Due: npm run lint, prettier --write

[feat]: 集成TDesign
  config/vite/plugins/index.ts
  config/vite/plugins/svgLoader.ts
  src/auto-imports.d.ts
  src/main.ts
  src/router/index.ts
Due: npm run lint, prettier --write

[refactor]: 切换为hash模式
  src/router/index.ts
Due: npm run lint, prettier --write

[ci](其他模块): cz custom
  .cz-config.js
Due: npm run lint, prettier --write

[refactor](其他模块): vite插件集成bug修复
  .eslintrc-auto-import.json
  .eslintrc.js
  components.d.ts
  config/vite/plugins/autoImport.ts
  config/vite/plugins/autoRegistryComponents.ts
  config/vite/plugins/component.ts
  config/vite/plugins/index.ts
  package.json
  src/layouts/components/SideNav.tsx
  tsconfig.json
Due: npm run lint, prettier --write

[refactor](其他模块): uI组件库 TDesign 改为按需引入
  components.d.ts
  src/main.ts
Due: npm run lint, prettier --write

[chore](其他模块): 集成vite插件
  .stylelintrc.js
  components.d.ts
  config/vite/plugins/autoImport.ts
  config/vite/plugins/compress.ts
  config/vite/plugins/index.ts
  config/vite/plugins/markdown.ts
  config/vite/plugins/svgIcons.ts
  config/vite/plugins/visualizer.ts
  config/vite/plugins/vueSetupExtend.ts
  package.json
  src/pages/index.vue
  src/pages/list/tree/index.vue
  vite.config.ts
Due: npm run lint, prettier --write, stylelint --fix

[chore](其他模块):
  .gitignore
  components.d.ts
Due: npm run lint, prettier --write

[ui](其他模块): 修复路由跳转失败的问题
  src/pages/list/card/index.vue
  src/pages/list/tree/index.vue
Due: npm run lint, prettier --write, stylelint --fix

[refactor](其他模块): 应用auto import
  src/components/Header/index.vue
  src/components/color/index.vue
  src/components/result/index.vue
  src/components/thumbnail/index.vue
  src/components/trend/index.vue
  src/hooks/loading.ts
  src/layouts/components/Breadcrumb.vue
  src/layouts/components/Search.vue
  src/layouts/index.tsx
  src/layouts/setting.vue
  src/pages/dashboard/base/components/middle-chart.vue
  src/pages/dashboard/base/components/overview.vue
  src/pages/dashboard/base/components/top-panel.vue
  src/pages/dashboard/detail/index.vue
  src/pages/demo/index.vue
  src/pages/detail/advanced/components/Product.vue
  src/pages/detail/advanced/index.vue
  src/pages/detail/deploy/index.vue
  src/pages/detail/secondary/index.vue
  src/pages/form/base/index.vue
  src/pages/form/step/index.vue
  src/pages/list/base/index.vue
  src/pages/list/card/components/DialogForm.vue
  src/pages/list/card/index.vue
  src/pages/list/components/CommonTable.vue
  src/pages/list/tree/index.vue
  src/pages/login/components/Login.vue
  src/pages/login/components/Register.vue
  src/pages/login/index.vue
  src/pages/user/index.vue
Due: npm run lint, prettier --write, stylelint --fix

[refactor](其他模块): 优化代码结构
  .gitignore
  config/vite/plugins/autoImport.ts
  config/vite/plugins/autoRegistryComponents.ts
  config/vite/plugins/index.ts
  config/vite/plugins/pages.ts
  config/vite/plugins/vueLayouts.ts
  docs/vite插件/pages&layouts.md
  package.json
  src/auto-imports.d.ts
  src/components.d.ts
  src/env.d.ts
  src/pages/dashboard/base/index.vue
  src/router/indexAuto.ts.bak
  src/store/modules/permission.ts
  tsconfig.json
  vite.config.ts
Due: npm run lint, prettier --write, stylelint --fix

[fix](其他模块):
  .gitignore
  .vscode/settings.json
  src/components.d.ts
Due: npm run lint, prettier --write

[refactor](其他模块): 整体重构,精简代码
  .gitignore
  .vscode/settings.json
  README.md
  config/themeConfig.ts
  config/vite/plugins/index.ts
  config/vite/plugins/pages.ts
  config/vite/plugins/svgIcons.ts
  config/vite/plugins/svgLoader.ts
  config/vite/plugins/vueLayouts.ts
  docs/前端规范.md
  index.html
  package.json
  postcss.config.js
  src/App.vue
  src/assets/styles/base.less
  src/components/Header/index.vue
  src/components/SvgIcon/index.vue
  src/components/footer/index.vue
  src/env.d.ts
  src/index.css
  src/layouts/components/MenuContent.tsx
  src/main.ts
  src/pages/index.vue
  src/pages/list/card/index.vue
  src/pages/login/components/Register.vue
  src/pages/login/index.less
  src/router/indexAuto.ts.bak
  src/router/modules/base.ts
  src/router/modules/components.ts
  src/router/modules/others.ts
  src/style/base.less
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: npm run lint, prettier --write, stylelint --fix

[ci](其他模块): ls-lint
  docs/vue-devtools使用技巧.md
Due: none

feat: ls-lint
  .ls-lint.yml
  docs/配置文件说明/前端工程化的一些实现方案.md
  package.json
Due: none

ci(其他模块): yorkie 换 husky
  .cz-config.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  commit.sh
  commitlint.config.js
  package.json
  src/auto-imports.d.ts
  src/layouts/components/MenuContent.tsx
  src/layouts/components/SideNav.tsx
Due: npm run lint, prettier --write

ci(其他模块): api
  package.json
  src/apis/http-client.ts
  src/utils/api-gen/index.ts
  src/utils/api-gen/swagger.json
  src/utils/api-gen/templates/README.md
  src/utils/api-gen/templates/api.eta
  src/utils/api-gen/templates/procedure-call.eta
  src/utils/api-gen/templates/route-types.eta
  tsconfig.json
Due: npm run lint, prettier --write

ci(其他模块): 乱起八早
  .eslintrc.js
  .gitignore
  .prettierignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/vue.code-snippets
  README.md
  config/vite/plugins/autoImport.ts
  config/vite/plugins/autoRegistryComponents.ts
  package.json
  src/auto-imports.d.ts
  src/declaration.d.ts
  src/hooks/index.ts
  src/hooks/request/demo.vue
  src/hooks/request/index.ts
  src/hooks/request/src/useRequest.ts
  src/hooks/request/type/index.ts
  src/service/index.ts
  src/service/request/index.ts
  src/service/request/types.ts
  types/env.d.ts
  vite.config.ts
Due: npm run lint, prettier --write, stylelint --fix

ci(其他模块): fix
  .husky/commit-msg
Due: none

ci(其他模块): 集成swagger2api
  src/api/index.ts
  src/api/modules/Auth.ts
  src/api/modules/Jobs.ts
  src/api/modules/Projects.ts
  src/api/modules/data-contracts.ts
  src/api/modules/http-client.ts
  src/api/types.ts
  src/layouts/components/MenuContent.tsx
  src/main.ts
  src/utils/api-gen/index.ts
  src/utils/axiosConfig.ts
  types/auto-imports.d.ts
  types/components.d.ts
  vite.config.ts
Due: npm run lint, prettier --write

ci(其他模块): 集成api
  src/api/index.ts
  src/api/modules/xx1/Auth.ts
  src/api/modules/xx1/Jobs.ts
  src/api/modules/xx1/Projects.ts
  src/api/modules/xx1/data-contracts.ts
  src/api/modules/xx1/http-client.ts
  src/utils/api-gen/index.ts
  src/utils/api-gen/swagger.json
  src/utils/api-gen/swagger1.json
Due: npm run lint, prettier --write

Path conditions:
  npm run lint: any of: *.{js,vue,jsx,ts,tsx}
  prettier --write: any of: *.{js,vue,jsx,ts,tsx}
  stylelint --fix: any of: *.{vue,htm,html,css,sss,less,scss}
